@using CookDelicious.Core.Models.Paiging
@using CookDelicious.Core.Models.Recipe
@using CookDelicious.Core.Models.Sorting
@model RecipePagingViewModel

@{
	ViewData["Title"] = "Recipes";
}

<link rel="stylesheet" href="~/css/style.css">

<div class="receipe-post-area section-padding-80">
	<div class="receipe-post-search mb-80">
		<div class="container">
			<form asp-action="All" asp-route-pageNumber="1" method="post">
				<div class="row">
					<div class="col-12 col-lg-3">
						<label style="font-size: 20px">Вид ястие</label>
						<select class="col-sm-9  text-secondary" asp-for="Sorting.DishType" data-select2-id="1" tabindex="-1" aria-hidden="true">
							<option data-select2-id="35">Всички</option>
							<option data-select2-id="35">Аламинути</option>
							<option data-select2-id="36">Предястия</option>
							<option data-select2-id="37">Основни ястия</option>
							<option data-select2-id="38">Десерти</option>
							<option data-select2-id="39">Коктейли</option>
						</select>
					</div>
					<div class="col-12 col-lg-3">
						<label style="font-size: 20px">Категория</label>
						<select class="col-sm-9  text-secondary" asp-for="Sorting.Category" data-select2-id="1" tabindex="-1" aria-hidden="true">
							<option data-select2-id="39">Всички</option>
							@foreach (var sortCategory in Model.Categories)
							{
								<option data-select2-id="36">@sortCategory</option>
							}
						</select>
					</div>
					<div class="col-12 col-lg-3">
						<label style="font-size: 20px">Най-стари публикации</label>
						<input class="col-sm-9  text-secondary" asp-for="Sorting.Date" type="checkbox" aria-hidden="true">
					</div>
					<div class="col-12 col-lg-3">
						<button id="goToRecipes" type="submit" class="btn delicious-btn">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<section class="best-receipe-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h3>@ViewData["Title"]</h3>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var recipe in Model.PagedList)
			{
				<!-- Single Best Receipe Area -->
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="~/img/bg-img/@recipe.ImageUrl" alt="" style="width: 350px; height: 304px">
						<div class="receipe-content">
							<a asp-action="RecipePost" asp-controller="Recipe" asp-route-id="@recipe.Id">
								<h5>@recipe.Title</h5>
							</a>
							<div class="ratings">
								@{
									var emptyStars = 5 - recipe.Rating;
								}
								@for (int i = 1; i <= recipe.Rating; i++)
								{
									<i class="fa fa-star" aria-hidden="true"></i>
								}
								@for (int i = 1; i <= emptyStars; i++)
								{
									<i class="fa fa-star-o" aria-hidden="true"></i>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>

		@{
			var prevDisabled = !Model.PagedList.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.PagedList.HasNextPage ? "disabled" : "";
			var dishType = Model.Sorting.DishType;
			var category = Model.Sorting.Category;
			var dateAsc = Model.Sorting.Date;
		}
		<a asp-action="All" asp-route-dishType="@dishType" asp-route-category="@category" asp-route-dateAsc="@dateAsc" asp-route-pageNumber="@(Model.PagedList.PageIndex - 1)" class="btn delicious-btn btn-4 m-1 @prevDisabled">Previous</a>
		<a asp-action="All" asp-route-dishType="@dishType" asp-route-category="@category" asp-route-dateAsc="@dateAsc" asp-route-pageNumber="@(Model.PagedList.PageIndex + 1)" class="btn delicious-btn btn-4 m-1 @nextDisabled">Next</a>
	</div>
</section>