@using CookDelicious.Core.Models.Forum
@model ForumPostViewModel

<link rel="stylesheet" href="~/css/comment.css">

<div class="receipe-post-area section-padding-80">
	<!-- Receipe Post Search -->
	<!-- Receipe Slider -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="owl-stage ">
					<div class="owl-item cloned" style="width: 1100px; height: 500px;">
						<img src="~/img/blog-img/3.jpg" alt="" style="width: 1100px; height: 500px;">
					</div>
				</div>
				<div class="owl-dots">
					<div class="owl-dot">
						<span></span>
					</div>
					<div class="owl-dot active">
						<span></span>
					</div>
					<div class="owl-dot">
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Receipe Content Area -->
	<div class="receipe-content-area">
		<div class="container">

			<div class="row">
				<div class="col-12 col-md-8">
					<div class="receipe-headline my-5">
						<span>@Model.DatePublishedOn @Model.MonthPublishedOn @Model.YearPublishedOn</span>
						<h1>@Model.Title</h1>
						@if (Model.AuthorName == User.Identity.Name)
						{
							<a asp-action="DeletePost" asp-controller="Forum" class="custom-button" asp-route-id="@Model.Id">Delete Post</a>
						}
						<div class="receipe-duration">
							<h4>Автор: @Model.AuthorName</h4>
							<h4>Категория: @Model.CategoryName</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-lg-8">
					<!-- Single Preparation Step -->
					<div class="single-preparation-step d-flex">
						<p style="word-wrap: break-word;">@Model.Content</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					@foreach (var comment in Model.Comments)
					{
						<div class="section-heading text-left">
							<div class="col-md-8">
								<div class="card p-3">
									<div class="d-flex justify-content-between align-items-center">
										<div class="user d-flex flex-row align-items-center">
											<img src="~/img/blog-img/2.jpg" width="30" class="user-img rounded-circle mr-2">
											<span><small class="font-weight-bold text-primary">@comment.AuthorName</small> <small class="font-weight-bold">@comment.Content</small></span>
										</div>
										<small>2 days ago</small>
									</div>
									<div class="action d-flex justify-content-between mt-2 align-items-center">
										@if (Model.AuthorName == User.Identity.Name)
										{
											<div class="reply px-4">
												<a href="/Forum/DeletePostComment/@comment.Id?postId=@Model.Id">Remove</a>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>

			@{
				var prevDisabled = !Model.Comments.HasPreviousPage ? "disabled" : "";
				var nextDisabled = !Model.Comments.HasNextPage ? "disabled" : "";
			}
			<a asp-action="ForumPost" asp-route-commentPage="@(Model.Comments.PageIndex - 1)" class="btn delicious-btn btn-4 m-1 @prevDisabled">Previous</a>
			<a asp-action="ForumPost" asp-route-commentPage="@(Model.Comments.PageIndex + 1)" class="btn delicious-btn btn-4 m-1 @nextDisabled">Next</a>

			<div class="row">
				<div class="col-12">
					<div class="section-heading text-left">
						<h3>Leave a comment</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="contact-form-area">
						<form action="postComment" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="row">
								<div class="col-12 col-lg-6">
									<input asp-for="Comment.AuthorName" name="AuthorName" type="hidden" class="form-control" id="name" value="@User.Identity.Name">
								</div>
								<div class="col-12">
									<textarea name="Content" asp-for="Comment.Content" class="form-control" id="Content" cols="30" rows="5" aria-required="true" placeholder="Message"></textarea>
								</div>
								<div class="col-12">
									<button class="btn delicious-btn mt-30" asp-route-id="@Model.Id" asp-action="PostComment" asp-controller="Forum" type="submit">Post Comments</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<partial name="_ValidationScriptsPartial" />
