@using CookDelicious.Core.View.Models.Home
@model HomeViewModel

@{
	ViewData["Title"] = "Начало";
}

<link rel="stylesheet" href="~/css/style.css">

<section class="hero-area">
	<div class="hero-slides owl-carousel">
		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg1.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">@Model.TopRecipe.Title</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Добре дошли в най-добрият сайт за готвачи. Тук можете да намерите много вкусни и лесни рецепти. Разгледайте нашата топ рецепта като натиснете бутона. Няма да съжалявате :)</p>
							<a asp-action="RecipePost" asp-controller="Recipe" asp-route-Id="@Model.TopRecipe.Id" asp-route-commentPage="1" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Виж топ рецептата</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg6.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Cook Delicious Блог</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Посетете и нашият блог. Тук можете да откриете важни и полезни постове за здравословна или вкусна храна, или просто развлекателни постове за храненето</p>
							<a asp-action="Home" asp-controller="Blog" asp-route-pageNumber="1" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Към Блог</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(/img/bg-img/bg7.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Cook Delicious Форум</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Посетете и нашият форум. Консултирайте се с различни хора за готвене, продукти и вичко свързано с храната в нашият Форум</p>
							<a asp-action="Home" asp-controller="Forum" asp-route-pageNumber="1" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Към Форум</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
	<div class="container">
		<div class="row">
			<!-- Top Catagory Area -->
			@foreach (var lasAddedRecipe in Model.LastAddedRecipes)
			{
				<div class="col-12 col-lg-6">
					<div class="single-top-catagory">
						<img src="~/img/bg-img/@lasAddedRecipe.ImageUrl" alt="" style="width: 570px; height: 330px">
						<!-- Content -->
						<div class="top-cta-content">
							<h3>@lasAddedRecipe.Title</h3>
							<h6>Последно добавени рецепти</h6>
							<a asp-action="RecipePost" asp-controller="Recipe" asp-route-Id="@lasAddedRecipe.Id" asp-route-commentPage="1" class="btn delicious-btn">Виж пълната рецепта</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h3>Най-добри рецепти</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Best Receipe Area -->
			@foreach (var recipe in Model.BestRecipes)
			{
				<div class="col-12 col-sm-6 col-lg-4">
					<div class="single-best-receipe-area mb-30">
						<img src="~/img/bg-img/@recipe.ImageUrl" alt="" style="width: 350px; height: 304px">
						<div class="receipe-content">
							<a asp-action="RecipePost" asp-controller="Recipe" asp-route-Id="@recipe.Id" asp-route-commentPage="1">
								<h5>@recipe.Title</h5>
							</a>
							<div class="ratings">
								@{
									var emptyStars = 5 - recipe.RatingStars;
								}
								@for (int i = 1; i <= recipe.RatingStars; i++)
								{
									<i class="fa fa-star" aria-hidden="true"></i>
								}
								@for (int i = 1; i <= emptyStars; i++)
								{
									<i class="fa fa-star-o" aria-hidden="true"></i>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>